.about-container {
    background-color: var(--secondary);
    width: 100%;
    min-height: calc(100vh - 80px - 80px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 100px
}

.about-content {
    width: 100%;
    max-width: 960px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-container h1, .about-container p {
    color: var(--primary);
    padding-bottom: 20px;
}

.about-container h1 {
    font-size: 38px;
}

.about-container p {
    font-size: 20px;
}

.about-container iframe {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16/9;
}

.about-video {
    padding-top: 40px;
    width: 100%;
}

.about-video-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Adjust for smaller screen. */
@media screen and (max-width: 960px) {
    .about-container {
        padding: 10px
    }

    .about-container h1 {
        font-size: 30px;
    }

    .about-container p {
        font-size: 16px;
    }
}