.footer-container {
    background: linear-gradient(45deg, var(--primary) 0%, var(--primary2) 100%);
    width: 100%;
    height: 80px;
    bottom: 0;

    padding: 5px 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: var(--secondary);
}

.footer-container h1 {
    font-size: 1.2rem;
}

.footer-logo {
    /* Font Settings */
    font-size: 2rem;
}

.footer-logo i {
    margin-left: 0.8rem;
    font-size: 1.8rem;
    --fa-rotate-angle: 20deg;
}