.post-container {
    background-color: var(--secondary);
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    padding: 100px;
}

.post-container h1, .post-container p {
    color: var(--primary);
    padding-bottom: 20px;
}

.post-video {
    width: 100%;
    aspect-ratio: 16/9;

    display: flex;
    justify-content: center;
    align-items: center;
}

.post-video iframe {
    width: 100%;
    max-width: 960px;
    height: 100%
}

.post-hr {
    border: 2px solid var(--primary);
    margin: 0px 100px;
    margin-bottom: 12px;
}

.post-container h1 {
    font-size: 38px;
}

.post-container p {
    font-size: 20px;
}

/* Adjust for smaller screen. */
@media screen and (max-width: 960px) {
    .post-container h1 {
        font-size: 30px;
    }

    .post-container p {
        font-size: 16px;
    }
}

.post-topics {
    padding-top: 20px;
    list-style: none;
}

.post-topic h1 {
    font-size: 26px;
    padding-top: 20px;
}