@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');

:root {
  --primary: #22311d;
  --primary2: #4a6741;
  --primary3: #374f2f;
  --text_light: #fff;
  --text_dark: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', 'PT Sans', sans-serif;
  line-height: 2;
}

body {
  position:relative;
  overflow-x: hidden !important;
  width: 100%;
  background-color: var(--primary3);
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.up-fade {
  position: absolute;
  top: -80px;
  width: 100%;
  height: 80px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0) 0%, var(--c2) 100%);
  z-index: 5;
}

.down-fade {
  position: absolute;
  bottom: -80px;
  width: 100%;
  height: 80px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.0) 0%, var(--c2) 100%);
  z-index: 5;
}

.primary {
  --c2: var(--primary)
}

.primary2 {
  --c2: var(--primary2);
}

.primary3 {
  --c2: var(--primary3);
}

.none {
  --c2: rgba(0,0,0,0);
}

.bg-img {
  background-image: url(https://images.unsplash.com/photo-1525923706370-fe4287652b33?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  /* Set a specified height, or the minimum height for the background image */
  width: 100%;
  height: 100%;
  /* Set background image to fixed (don't scroll along with the page) */
  background-attachment: fixed;
  /* Center the background image */
  background-position: center;
  /* Set the background image to no repeat */
  background-repeat: no-repeat;
  /* Scale the background image to be as large as possible */
  background-size: cover;
  /* Darken Background */
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}